<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/demo.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='style/inspacy.png') }}">
    <title>Inspacy Demo</title>
</head>
<body>
<div class="main">
    <h1>Inspacy Demo</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="input">
            <label>
                <textarea class="input-text" name="text" placeholder="Enter your text here" required>
                    En 2017, en France métropolitaine, le niveau de vie médian de la population s’élève à 20 820 euros annuels, soit 0,4 % de plus qu’en 2016 en euros constants. Il augmente à un rythme modéré depuis quatre ans, après avoir diminué à la suite de la crise économique de 2008. Les 10 % de personnes les plus modestes ont un niveau de vie inférieur à 11 190 euros. Les 10 % les plus aisées ont un niveau de vie au moins 3,4 fois supérieur, au-delà de 38 210 euros.
                    En 2017, les ménages d’actifs bénéficient de l’amélioration de la conjoncture du marché du travail : les niveaux de vie avant redistribution sont en légère hausse, sauf pour les ménages les plus modestes. Ces derniers ont néanmoins bénéficié de la montée en charge de la prime d’activité.
                    Au total, les niveaux de vie augmentent légèrement pour toute la distribution. Les inégalités de niveau de vie sont quasi stables : l’indice de Gini est de 0,289 en 2017, après 0,288 en 2016.
                </textarea>
            </label>
        </div>
        <div class="settings">
            <h4>Settings</h4>
            <label>
                <input type="checkbox" name="dep">
                Dependencies
            </label>
        </div>
        <div class="button">
            <input class="input-button" type="submit" value="Analyze">
        </div>
    </form>
    {% if ent %}
        <div class="entity">
            <h4>Entity</h4>
            {{ ent }}
        </div>
    {% endif %}
    {% if dep %}
        <div class="dependencies">
            <h4>Dependencies</h4>
            {{ dep }}
        </div>
    {% endif %}
</div>
</body>
</html>